@import url("members.css");
div.presentation
{
font-family: arial;
font-size: 15px;
width: 670px;
}
div.membres
{
margin: 15px;
}
a.name
{
font-size: 20px;
display: block;
font-family: verdana;
font-weight: bold;
}
a.headline
{
font-size: 15px;
font-family: verdana;
font-weight: bold;
}
