div.song
{
padding: 10px;
padding-top: 20px;
text-align: center;
margin: 0 auto;
float: left;
background-color: #eeeeee;
color: #675d76;
border: solid 1px #675d76;
border-top: 0;
border-left: 0;
height: 50px;
width: 300px;
margin: 50px;
}
a.songName
{
margin-top: 15px;
font-size: 15px;
display: block;
font-family: arial;
}

