div.video
{
padding: 10px;
margin: 30px;
text-align: center;
float: left;
background-color: #eeeeee;
color: #675d76;
border: 1px solid #675d76;
border-left: 0;
border-top: 0;
}
a.videoName
{
margin-top 15px;
font-size: 15px;
display: block;
font-family: verdana;
font-weight: bold;
}
a.event
{
font-size: 15px;
display: block;
font-family: verdana;
}
